@import "colours";
@import "buttons";

body {
	margin: 0;
    font-family: 'Nunito', sans-serif;
    letter-spacing:1px;
}

.align-right{
  display: flex;
  margin-left:auto
}

.align-left{
  display: flex;
  margin-right:auto;
}

.video{
    width:50%;
}
