input[type="text"]{
  padding: 10px 11px;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 4px;
  width:100%;
}

textarea{
  padding: 10px 11px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  width: 100%;
  resize: vertical;
}

label{

  & span{
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;

  }

}

