ul.internalstructure{
  list-style: none;
  border: 1px dashed #ddd;
  padding: 20px;
  margin-top:20px;
  margin-bottom:20px;

  .field{
    border: 1px solid transparentize($black, 0.5);
    padding: 10px;
    margin: 8px auto;
  }

  .delete-icon{
    float: right;
  }
}